<%= form_for(player) do |f| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if current_user.has_role? :admin %>
    <div class="field">
      <%= f.label :ban %>
      <label class="switch">
        <%= f.check_box :ban %>
        <div class="slider round"></div>
      </label>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :note %>
    <%= text_area(:player, :note, cols: 30, rows: 10) %>
  </div>

  <div class="field">
    <%= f.label :nemail %>
    <%= player.email %>
  </div>

  <div class="field">
    <%= f.label :open %>
    <label class="switch">
      <%= f.check_box :open %>
      <div class="slider round"></div>
    </label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
