<p id="notice"><%= notice %></p>

<h1>Players</h1>
<table class="table table-responsive">
  <thead>
    <tr>
      <td class="success">safe to open</td>
      <td class="warning">cannot bot penang</td>
      <td class="danger">cannot bot kl</td>
      <td class="info">safe for tp hunt pokemon</td>
    </tr>
  </thead>
</table>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Status</th>
        <th>User</th>
        <th>Last open/close</th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
      <% if Time.now - player.updated_at <= 2.hour %>
        <tr class="danger">
      <% elsif Time.now - player.updated_at <= 30.minutes %>
        <tr class="warning">
      <% elsif Time.now - player.updated_at >= 3.hour %>
        <tr class="info">
      <% else %>
        <tr class="success">
      <% end %>
          <td><%= player.username %></td>
          <td>
            <button id="<%= player.id %>" class= 'btn btn-info' onclick="clipboard(document.getElementById('<%= player.id %>').innerHTML)"><%= player.password %></button></td>
          <% if player.open %>
            <td><%= link_to 'Open', edit_player_path(player), class: 'btn btn-danger' %></td>
          <% else %>
            <td><%= link_to 'Close', edit_player_path(player), class: 'btn btn-info' %></td>
          <% end %>
          <td><%= player.user.name %></td>
          <td><%= distance_of_time_in_words(player.updated_at, Time.now ) %> ago</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Player', new_player_path, class: 'btn btn-success'%>

<script>
function clipboard(ID_value){
  window.prompt("Copy to clipboard: Ctrl+C, Enter", ID_value);
}
</script>
